
<h3>Listado de Contactos</h3>

<div *ngIf="deleteHero; else nothingWasDeleted">
<h3>Contacto borrado: <small class="text-danger"></small>{{deleteHero}}</h3>
</div>

<ng-template #nothingWasDeleted>
<h3 *ngIf="!deleteHero">No ha borrado ningun contacto</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger">
  Ultimo Contacto Borrado
</button>

<ul class="mt-2 list-group">
<li *ngFor="let name of heroNames"
  class="list-group-item">
  <strong>{{name}}</strong>
</li>
</ul>
